<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Polish Speech Recognition</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.button {
			background-color: #90D2F3; /* Green */
			border: none;
			color: white;
			padding: 50px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 36px;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 50%;
			display: block;
			margin: 0 auto;
		}

	</style>
</head>
<body>

<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
<script charset="UTF-8">
	var isClicked = false;
	var source;
	

	function encode_utf8(s) {
		return unescape(encodeURIComponent(s));
	}

	function decode_utf8(s) {
		return decodeURIComponent(escape(s));
	}

	function startRecording(){
        source = new EventSource("/decode");
        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
			var str = data["value"].replace(/(\r\n|\n|\r)/gm, "").replace(/\\/g, "\\\\");;
			console.log(str)
			document.getElementById('trans').innerHTML = str ;
        }
	}
	function stopRecording(){
		document.getElementById('trans').innerHTML = "";
		source.close()
	}
	function makeClick(){
		console.log("I'm here");
		console.log(isClicked);
		if(!isClicked){
			document.querySelector('#SpeakButton').innerText = 'Mów';
			document.querySelector('#SpeakButton').style.border = '10px solid #089DEE';
			startRecording();
		}
		else{
			document.querySelector('#SpeakButton').innerText = 'Start';
			document.querySelector('#SpeakButton').style.border = '0px solid #089DEE';
			stopRecording();
		}
		isClicked = !isClicked;
	}

</script>

{#<script src="{{ url_for('static', filename='mic.js') }}"></script>#}
{#<script src="{{ url_for('static', filename='app.js')    }}"></script>#}

<div class="container">
    <div class="row">
        <div class="col-12">
		    </br>
			</br>
       		<button class="button" onclick="makeClick()" id="SpeakButton">Start</button>
			</br>
			</br>
            <div class="card">
                <div class="card-body">
                    <p id="trans" accept-charset="UTF-8"> </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>



</body>
</html>